<!DOCTYPE html>
<html>
  <body>
<% # User.new is specified as an instance of the User class is being created here %>

<div>
<% if @user.errors.count > 1 %>
    <h2><%= @user.errors.full_messages.count %> errors prevented this user from being saved: </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>
</div>

<% # form_for is intelligent enough to know if it should be a 'patch' method or a 'post' method' %>
<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :username, placeholder: "Enter Your Name" %>
  <%= f.label :email %>
  <%= f.email_field :email, placeholder: "example@email.com" %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Submit" %>
<% end %>





  </body>
</html>